html {
  overflow-y: overlay;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar:hover {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d1c8b4;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff6e0;
}
